#yazialani{
    background-color: #ffffff;
    padding-left: 6%;
    padding-right: 6%;
}

#icon{
    width: 27px;
    height: 27px;
    float: left;
}

#headicon{
    width: 20px;
    height: 20px;
    float: left;
}

#yazi{
    font-family: Alternity,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 89%
}

.cizgi{
    width: 70%; 
    border-width: 4px; 
    top: -10%;
    left: -15%;
    border-color: rgb(108, 218, 144);
    position: inherit
}

